*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

h1{
    display: flex;
    justify-content: center;
    margin-top:  300px;
    font-size: 100px;
    color:#ccc;
    

}
 h1:hover{
    color: rgba(176, 194, 101, 0.5);
    text-shadow: 4px 4px 5px rgba(176, 194, 101, 0.5) ;
 }